 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');


 body {
     transition: 0.3s;
     margin: 0;
     padding: 0;
     background-color: #f1eded;
     font-family: 'Poppins', sans-serif;
     color: rgba(52, 52, 52, 0.9);
 }

 h1 {
     font-size: 70px;
     line-height: 70px;
     font-weight: 300;
     margin: 10px 0;
 }

 h2 {
     font-size: 40px;
     font-weight: 300;
     line-height: 40px;
     margin: 50px 0 10px 0;
 }

 a {
     font-size: 20px;
     color: rgb(128, 0, 255);
     text-decoration: none;
     font-weight: 300;
 }

 .dark a {
     color: aqua;
 }

 p {
     margin: 0;
     font-size: 18px;
 }

 header {
     display: flex;
     justify-content: flex-end;
     padding: 30px;
 }

 .switch {
     width: 80px;
     height: 40px;
     border-radius: 30px;
     background-color: black;
     position: relative;
 }

 .flicker {
     width: 30px;
     height: 30px;
     border-radius: 15px;
     background-color: #ffffff;
     position: absolute;
     top: 5px;
     left: 5px;
     /* A shadow in the box  */
     box-shadow:
         inset 4px 4px 4px rgb(255, 255, 255),
         inset -4px -4px 4px rgb(195 193 198 /90%);
 }

 .moon {
     height: 20px;
     width: 20px;
     border-radius: 10px;
     box-shadow: 4px 4px 0px 0px rgb(255, 255, 255);
     position: absolute;
     right: 15px;
     top: 5px;
 }

 .dark {
     background-color: rgb(44, 43, 43);
 }

 .dark .flicker {
     transform: translateX(40px);
 }

 .dark>* {
     color: rgb(255, 255, 255);
 }

 .main {
     height: 80vh;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     padding: 30px;
    align-items: center;

 }

 .main-text {

     padding: 30px;
 }

 .info-squares {
     width: 98%;
     height: 350px;
     margin: 1%;
     background-color: rgb(186, 144, 198);
     text-align: center;
 }

 .dark .info-squares {
     background-color: grey;
 }

 .sub-section {
     display: flex;
     flex-wrap: wrap;
 }

.hero-image {
    position: relative;
    width: 50%;
    height: 350px;
    display: block;
    margin-bottom: 100px;
}

.cube {
    position: absolute;
    width: 80px;
    height: 80px;
    transform: rotate(-25deg) skew(25deg);
}

.cube::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 100%;
    transform: skewY(-45deg);
    left: -20px;
    bottom: -10px;
}

.cube::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 21px;

    transform: skewX(-45deg);
    left: -10px;
    bottom: -20px;
}

#react {
    left: 100px;
    bottom: 80px;
    background-image: url("images/react.png");
    background-size: cover;
   
    box-shadow: -60px 60px 20px rgb(50 50 50/15%);
}

#react:before{
    background-color:rgb(76, 46, 136);
}

#react:after {
    background-color: rgb(85, 50, 200);
}

.cube {
    position: absolute;
    width: 80px;
    height: 80px;
    transform: rotate(-25deg) skew(25deg);
}

.cube::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 100%;
    transform: skewY(-45deg);
    left: -20px;
    bottom: -10px;
}

.cube::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 21px;

    transform: skewX(-45deg);
    left: -10px;
    bottom: -20px;
}

#html{
    left: 250px;
    bottom: 240px;
    background-image: url("images/htmllogowithshiine.png");
  background-size: cover;
    box-shadow: -60px 60px 20px rgb(50 50 50 / 15%);
  
}
#html:before {
    background-color: rgb(244, 141, 141);
}
#html:after {
    background-color: rgb(198, 130, 130);
}

.cube {
    position: absolute;
    width: 80px;
    height: 80px;
    transform: rotate(-25deg) skew(25deg);
}

.cube::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 100%;
    transform: skewY(-45deg);
    left: -20px;
    bottom: -10px;
}

.cube::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 21px;

    transform: skewX(-45deg);
    left: -10px;
    bottom: -20px;
}
#css{
    left: 490px;
    bottom: 200px;
background-image: url("images/csslogowithshine.png");
background-size: cover;
box-shadow: -60px 60px 20px rgb(50 50 50 / 15%);
}
#css:before {
    background-color: #4893e8;
}
#css::after {
    background-color: rgb(61, 109, 162);
}


.cube {
    position: absolute;
    width: 80px;
    height: 80px;
    transform: rotate(-25deg) skew(25deg);
}

.cube::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 100%;
    transform: skewY(-45deg);
    left: -20px;
    bottom: -10px;
}

.cube::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 21px;

    transform: skewX(-45deg);
    left: -10px;
    bottom: -20px;
}

#javascript{
    left: 350px;
    bottom:   /* background-position: cover; */40px;
    background-image: url("images/jslogowithshine.png");
    background-size: cover;
    box-shadow: -60px 60px 20px rgb(50 50 50 / 15%);
}
#javascript:before{
    background-color: rgb(124, 245, 126);
}

#javascript:after{
    background-color: rgb(103, 189, 105);
}




 footer {
     display: flex;
     padding: 100px 30px;
     justify-content: center;
     background-color: rgb(124, 123, 123);
 }

 .dark footer {
     background-color: rgb(28, 27, 27);
 }

 @media only screen and (min-width: 970px) {
     .main-text {
         width: 50%;
     }

     .info-squares {
         width: 48%;
         height: 600px;
         margin: 1%;
     }
 }

@media only screen and (max-width: 1300px){
.hero-image {
    display: none;
}

}


 #skills {
     background-image: url("images/xwPkeIXuXCtpRy7Z3wq9YL8gaR9.jpg");
     background-size: cover;
 }

 #contactme {
     background-image: url("images/contact 1.jpg");
     background-size: cover;
     
 }

 #projects {
     background-image: url("images/1_BPSx-c--z6r7tY29L19ukQ-PhotoRoom.png-PhotoRoom.png");
     background-size: cover;
 }